[Unit]
Description=Slackbot for enabling or disabling nightmusic-all-day
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/make -C "{{ path }}"
Restart=always

[Install]
WantedBy=multi-user.target

